-e git+https://github.com/freenove/Freenove_Complete_Starter_Kit_for_Raspberry_Pi@0d35a63ee1d9c876834f967b755ba3bb4e15c91f#egg=ADCDevice&subdirectory=Libs/Python-Libs/ADCDevice-1.0.3
colorzero==2.0
gpiozero==2.0.1
joblib==1.5.1
lgpio==0.2.2.0
numpy==2.3.1
pandas==2.3.0
python-dateutil==2.9.0.post0
pytz==2025.2
RPi.GPIO==0.7.1
scikit-learn==1.7.0
scipy==1.16.0
six==1.17.0
smbus==1.1.post2
threadpoolctl==3.6.0
tzdata==2025.2
